html {
  font-family: 'Play', sans-serif;
  background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  font-size: calc(15px + 1vh);
  color: #5578a0;
}

header{
  overflow: hidden;
  font-size: 1rem;
}

body{
  font-size: 0.7rem;
  overflow: hidden;
}

footer{
  height: 4vh;
  margin-bottom: 5px;
  position: absolute;
  text-align: left;
  bottom: 2px;
  margin: 2px;
  padding: 2px;
  font-size: 0.6rem;
}

nav.juegos{
  margin-top: 20px;
  text-align: right;
  position: absolute;
  right: 60px;
  top: 8px;
}

img.logoFacebook{
  width: 20px;
  height: 20px;
  bottom: 50px;
}

img.logoTwitter{
  width: 20px;
  height: 20px;
  bottom: 50px;
}

img.logoLinkedin{
  width: 20px;
  height: 20px;
  bottom: 50px;
}

img.perfil{
  display: block;
  width: 10%;
  height: 12%;
  padding: 3px;
  margin: 1px;
}

a{
  text-decoration: none;
  color: #5578a0;
}

a:hover{
  color: #5578f1;
}

h3{
  padding: 1px;
  margin: 1px;
}

h4{
  padding: 2px;
  margin: 2px;
}

b{
  margin-bottom: 5px;
  text-align: right;
  position: absolute;
  right: -1240px;
  bottom: 5px;
  margin: 2px;
  padding: 2px;
}
